<h1>Welcome To Doker Deomo App</h1>
<h1>If You See This Page That Means Your Docker Is Runnig Perfectly</h1>
<h1>& There is no else in this.</h1>>

<h1>Details</h1>
<p>Created This App Using rails new app-name</p>
<p>In this app i am using sql3 as database</p>
<p>with git & postgresql config will coming soon .........</p>